#editor {
    display: flex;
    /*height: 99vh;*/
    height: 500px;
    /*width: 600px;*/
    flex-direction: column;
}

#line {
    display: flex;
    height: 20px;
    background-color: #928374;
    color: #fbf1c7;
}

[contenteditable] {
    outline: 0px solid transparent;
    background-color: #282828;
    color: #fbf1c7;
    display: inline-block;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'console', monospace;
}
textarea {
    outline: 0px solid transparent;
    background-color: #282828;
    color: #fbf1c7;
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'console', monospace;
}
.lightline {
    border: 0px solid;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    height: 1vh;
}
